:root {
    --secundary-color: #8E4106;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F5CF06;
    font-family: "Righteous", sans-serif;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 32px;
    font-weight: 400;
    color: var(--secundary-color);
    padding-left: 70px;
    padding-top: 70px;
}

main {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.background-1 {
    position: absolute;
    top: 0;
    /* alterei a medida da fonte de 400px para 27vw pois 
    estava levando o footer além dos 100vh do body */
    font-size: 27vw;
    font-weight: 400;
    z-index: -1;
    color: white;
    opacity: 20%;
}

.background-2 {
    position: absolute;
    top: 170px;
    /* alterei a fonte de 300px para 20vw para ficar 
    proporcional à alteração do outro texto */
    font-size: 20vw;
    color: white;
    z-index: -1;
}

.content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 300px;
    width: 100vw;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 49px;
    /* background: lightcoral; */
}

.mensagem {
    color: var(--secundary-color);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.msg-1 {
    font-size: 64px;
    width: 530px;
}

.msg-2 {
    font-size: 20px;
    width: 489px;
}

.pikachu {
    width: 559px;
    height: 541px;
    position: absolute;
}

.download-button {
    width: 411px;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundary-color);
    font-size: 48px;
    font-weight: 400;
    color: white;
    gap: 37px;
    z-index: 4;
}

footer {
    height: 68px;
    display: grid;
    place-content: center;
    color: var(--secundary-color);
}

/* @media (max-width:1080px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
} */

@media (max-width:768px) {
    header {
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 24px;
    }

    .background-1 {
        font-size: 200px;
    }

    .background-2 {
        font-size: 180px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        gap: 11px;
    }
    
    footer {
        display: none;
    }
}